<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>Zoos</mat-card-title>
    <mat-card-subtitle>International zoos</mat-card-subtitle>
    <span class="filter"></span>
    <a mat-mini-fab color="primary" [routerLink]="['/add-zoo']"><mat-icon>add</mat-icon></a>
  </mat-card-header>
  <mat-card-content>
    <div class="table-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Zoo Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.zooName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.location}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>...</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/edit-zoo',element.zooId]"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnList;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
